# Dependencies
**/node_modules

# Build outputs
**/dist
**/.vite

# IDE
**/.idea
**/*.iml
**/.vscode
**/.vs

# OS
**/.DS_Store
**/Thumbs.db

# Logs
**/*.log
**/npm-debug.log*

# Environment
**/.env
**/.env.local
**/.env.*.local

# Docker
**/Dockerfile
**/.dockerignore

# Misc
**/*.tmp
**/*.bak
**/*.swp
